@import url("https://fonts.googleapis.com/css2?family=Allison&family=Caveat&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Rampart+One&family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 74px;
  overflow: hidden;
  padding: 10px;
  /*box-shadow: 0 0 6px;*/
  display: flex;
  z-index: 99;
}

.fixed-nav {
  position: fixed;
}

.swap1 {
  height: fit-content;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}

.logo img {
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

/*links*/
#links {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 22px;
  line-height: 30px;
  padding: 10px;
}
.link:hover {
  text-decoration: none;
  transform: scale(1.07);
  transition: all 0.4s;
}
.active {
  border-radius: 4px;
  border: 2px solid black;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}

.toggle {
  display: none;
  border: none;
  background-color: inherit;
}

#home {
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  /*to give an overlay effect*/
  background-blend-mode: multiply;
  background-color: rgb(177, 163, 163);
  background-attachment: fixed;
}

#home h1 {
  padding: 170px 0 10px 0;
  font-size: 60px;
  text-align: center;
  color: white;
}

p {
  max-width: 700px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  color: white;
}

#ico {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
}
#ico a {
  appearance: none;
  color: white;
}
#ico a:active {
  color: white;
}
#ico a i {
  margin: 0 4px;
  font-size: 20px;
}

.explore {
  max-width: fit-content;
  margin: 30px auto;
  padding: 10px 12px;
  border: 2px solid white;
}

.explore a {
  text-decoration: none;
  color: white;
}

.explore:hover {
  background-color: white;
  color: rgb(6, 39, 61);
  transition: 600ms;
}

#about {
  width: 86vw;
  height: 100vh;
  margin: 0 auto;
}
.about_me {
  padding-top: 40px;
  color: black;
}
#about .video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#about video {
  width: 50vw;
  height: 38vh;
}

h2 {
  text-align: center;
  font-size: 38px;
  padding-top: 75px;
}
.parts {
  display: inline;
  font-weight: 900;
  color: blueviolet;
  margin: 0;
}

/*************projects****************/
#projects {
  margin: 0 auto;
  height: fit-content;
}

/*
.a{
  background-color: green;
  display: flex;
  margin-bottom: 10px;
}
*/
.a {
  position: relative;
}

.holder {
  padding: 60px 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, auto);
  background: #2c2b2b;
  grid-auto-flow: column;
  box-shadow: inset 0 6px 20px;
  margin-bottom: 10px;
  align-items: center;
  overflow-x: scroll;
  /*background-color: rgb(206, 202, 202);*/
}
.holder::-webkit-scrollbar {
  display: none;
}
#con3 {
  display: flex;
  justify-content: flex-start;
}

.holder a {
  appearance: none;
  text-decoration: none;
  color: inherit;
}

.controls {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(167, 167, 167, 0.5);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 19;
  scroll-behavior: smooth;
  cursor: pointer;
}
#btn-right-1,
#btn-right-2,
#btn-right-3 {
  right: 9%;
}
#btn-left-1,
#btn-left-2,
#btn-left-3 {
  left: 9%;
}

.controls:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.sub-head-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}
.sub-head {
  width: 300px;
  font-size: 20px;
  font-weight: bold;
  background-color: blueviolet;
  color: white;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 10px 22px rgb(0, 0, 0);
}

.polaroid {
  width: fit-content;
  margin: 10px;
  box-shadow: 0px 20px 32px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99 !important;
}
.polaroid:hover {
  transform: scale(1.03);
  transition: all 0.4s;
}

.Quotes {
  background: url("./images/kygoskyrus-random-quotes.netlify.app_.png");
}
.Md {
  background: url("./images/kygoskyrus-markdown-previewer.netlify.app_.png");
}
.Drum {
  background: url("./images/kygoskyrus-drum-machine.netlify.app_.png");
}
.Pomodoro {
  background: url("./images/kygoskyrus-pomodoro-clock.netlify.app_.png");
}
.Weather {
  background: url("./images/weather.png");
}
.Calculator {
  background: url("./images/kygoskyrus-calculator.netlify.app_.png");
  background-position: center;
}
.Accordion {
  background: url("./images/kygoskyrus-accordion.netlify.app_.png");
}
.Flipper {
  background: url("./images/vibrant-bhabha-c7e424.netlify.app_flipperhex.html.png");
}
.Libraries {
  background: url("./images/priceless-hopper-c4ae1c.netlify.app_.png");
}
.Menu {
  background: url("./images/kygoskyrus-menu.netlify.app_.png");
}
.Countdown {
  background: url("./images/practical-euclid-abffed.netlify.app_.png");
}
.Counter {
  background: url("./images/ecstatic-noether-60bd4d.netlify.app_.png");
}
.Modal {
  background: url("./images/kygoskyrus-modal.netlify.app_.png");
}
.Video {
  background: url("./images/kygoskyrus-video-project.netlify.app_.png");
}
.Skychat {
  background: url("./images/localhost_5000_.png");
}
.Tictactoe {
  background: url("./images/127.0.0.1_5500_index.html.png");
}
.Shoppitt {
  background: url("./images/shoppitt.png");
}

.img {
  width: 230px;
  height: 230px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 10px;
  background-size: cover;
  background-position: center;
}
.Whatsapp {
  background: url("./images/kygoskyrus-whatsapp-clone.netlify.app_chat\ \(1\).png");
  background-position: left;
  background-size: cover;
}
.Todo {
  background: url("./images/kygoskyrus-todo.netlify.app_.png");
  background-position: left;
  background-size: cover;
}

.description {
  width: 230px;
  height: 50px;
  background-color: white;
  display: flex;
  place-items: center;
  margin-top: 4px;
  border-radius: 0 0 4px 4px;
}
.description p {
  color: black;
  font-family: "Caveat", cursive;
  font-size: 30px;
}

/*************tours********************/
#tours {
  height: fit-content;
  background-color: #73e5fc;
}
.icon-holder {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0 auto;
}
.icon-holder img:hover {
  transform: scale(1.05);
  transition: all 0.4s;
}

#cprt {
  height: 10vh;
  background-color: #1c1d1d;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 20px #2b2c2c;
  margin-top: 30px;
}

#cprt span {
  font-size: 16px;
  font-family: sans-serif;
}

/*scroll_button_&_percentage*/
#progress {
  height: 10vmin;
  width: 10vmin;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 99;
}
#progress-value {
  display: block;
  height: calc(100% - 3vmin);
  width: calc(100% - 3vmin);
  background-color: #ffffff;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3.2vmin;
}
/*another scroll percentage bar*/
.bar {
  width: 100%;
  height: 5px;
  position: fixed;
  bottom: 0;
}

/*******responsiveness******************/

@media (max-width: 600px) {
  section {
    flex-direction: column;
    margin-right: 0;
  }

  section a {
    padding-left: 15px;
  }

  .toggle {
    display: block;
  }

  #header {
    display: block;
  }

  #home h1 {
    font-size: 45px;
    padding: 250px 0 10px 0;
  }

  #home p {
    font-size: 16px;
    max-width: 400px;
  }

  #about video {
    width: 70%;
  }

  .a {
    flex-direction: column;
  }

  .controls {
    display: none;
  }

  #sub {
    width: 100%;
    padding: 10px 0;
  }

  .sub-head{
    text-align: center;
  }

  /*scrollbar customization*/
  .holder::-webkit-scrollbar {
    height: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: blueviolet;
    margin: 8px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 113, 113);
  }

  .icon-holder {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 0 auto;
  }
  .icon-holder img {
    margin: 20px;
  }
}
